# Configure Database Connection
Set up connection parameters using environment variables or connection string formatting for database credentials.

In [9]:
# Import necessary libraries
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
from pathlib import Path
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
from datetime import datetime, timedelta

# Load environment variables from main project .env file
load_dotenv(Path.cwd().parent / ".env")

# Get all connection parameters from environment variables
db_ip = os.getenv("DB_IP")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_name = os.getenv("DB_NAME")
db_port = os.getenv("DB_PORT")

# Create the connection string
connection_string = f"postgresql://{db_user}:{db_password}@{db_ip}:{db_port}/{db_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection by printing the engine
print(engine)

Engine(postgresql://am_db_usr:***@10.110.0.15:5432/am_db)

In [5]:
# Using Pandas with SQLAlchemy

import pandas as pd

# Create a configured "Session" class
Session = sessionmaker(bind=engine)

# Create a Session
session = Session()

# Define a query to fetch data
query = "SELECT * FROM am_app_articlesales LIMIT 10"

try: 
    df = pd.read_sql(query, con=engine)
    df.head()
finally: 
    session.close() 

df.head()

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [6]:
from sqlalchemy import text

Session = sessionmaker(bind=engine)


session = Session()

# Query using text() method
sql = text("SELECT * FROM am_app_articlesales LIMIT 10")
results = session.execute(sql)

# Access results 
for row in results:
    print(row)  # Rows are returned as tuples

# Close session
session.close()

(923370386, 110962, Decimal('1.000'), Decimal('88.500'), 0, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 150750, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(929756110, 108081, Decimal('1.000'), Decimal('32.950'), 0, True, datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 147769, 2268, datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(929756111, 108493, Decimal('2.000'), Decimal('8.950'), 0, True, datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 148225, 2268, datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(929756112, 385311, Decimal('2.000'), Decimal('4.450'), 2, True, datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 261310, 2268, datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370387, 657394, Decimal('1.000'), Decimal('21.900'), 2, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 274571, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370388, 172220, Decimal('1.000'), Decimal('43.500'), 2, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 193859, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370389, 93544, Decimal('1.000'), Decimal('115.000'), 2, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 134687, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370391, 647274, Decimal('1.000'), Decimal('89.000'), 0, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 272649, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370392, 107087, Decimal('1.000'), Decimal('24.900'), 0, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 146711, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')
(923370393, 592107, Decimal('1.000'), Decimal('36.000'), 0, True, datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER', datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 271052, 1661, datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'AM SALES LOADER')

In [8]:
Session = sessionmaker(bind=engine)
session = Session()

query = """
select aaa.article_id as product_id, aaa2.translation as name, sum(aaa.price) as sales
from am_app_articlesales aaa, am_app_articlestockunitdictionary aaa2 
where aaa.date_of_sales >= CURRENT_DATE - 1
and aaa.date_of_sales < CURRENT_DATE 
and aaa.article_id = aaa2.article_stock_unit_id 
group by aaa.article_id, aaa2.translation 
order by sales desc
limit 10 
""" 

try:
    # Execute query
    sql = text(query)
    result = session.execute(sql)
    
    # Get column names
    columns = result.keys()
    
    # Convert to dictionary
    records = [dict(zip(columns, row)) for row in result]
finally:
    session.close()

# Example: access first record
print(records)

[{'product_id': 164941, 'name': 'YOLI Iaurt multifruct 2.5% 500g', 'sales': Decimal('80399.550')}, {'product_id': 195354, 'name': 'ESLI Colanti femei Slim20 nero 2', 'sales': Decimal('72209.998')}, {'product_id': 165528, 'name': 'BABYONO Pestelcuta din bumbac medie 0832', 'sales': Decimal('59709.500')}, {'product_id': 164926, 'name': 'ROSHEN Сadou Revelion 462g', 'sales': Decimal('58616.012')}, {'product_id': 164129, 'name': 'Joc de Masa Sunt cactus  ', 'sales': Decimal('55724.654')}, {'product_id': 164562, 'name': 'Faina din seminte de in Sibirskaia 200 g', 'sales': Decimal('53941.640')}, {'product_id': 147722, 'name': 'Cipsuri CHIO gaina 23g', 'sales': Decimal('53474.224')}, {'product_id': 165114, 'name': 'Set de camioane mici 21*5*15 F2-81', 'sales': Decimal('53391.280')}, {'product_id': 164518, 'name': 'ETI WANTED Baton ciocolata cu cocos 28g', 'sales': Decimal('52226.196')}, {'product_id': 152898, 'name': "RICHARD ceai Five o'clock 25pac", 'sales': Decimal('52136.800')}]

In [ ]:
def top10_product_sales_day(target_date=None):
    # If no date provided, use yesterday
    if target_date is None:
        target_date = datetime.now().date() - timedelta(days=1)
    # If string date provided, convert to date object
    elif isinstance(target_date, str):
        target_date = datetime.strptime(target_date, '%Y-%m-%d').date()
    
    Session = sessionmaker(bind=engine)
    session = Session()

    query = """
    select 
        aaa.article_id as product_id, 
        aaa2.translation as name, 
        sum(aaa.price) as sales
    from am_app_articlesales aaa, am_app_articlestockunitdictionary aaa2 
    where aaa.date_of_sales >= :target_date
    and aaa.date_of_sales < (:target_date + interval '1 day')
    and aaa.article_id = aaa2.id 
    group by aaa.article_id, aaa2.translation 
    order by sales desc
    limit 10
    """

    try:
        # Execute query with parameters
        sql = text(query)
        result = session.execute(sql, {'target_date': target_date})
        
        # Get column names
        columns = result.keys()
        
        # Convert to dictionary
        records = [dict(zip(columns, row)) for row in result]
    finally:
        session.close()

    return records

In [18]:
top10_sales_day()

[{'product_id': 645314,
  'name': 'Iaurt de baut WOMEN proteine/mango 230g',
  'sales': Decimal('19488.125')},
 {'product_id': 579659,
  'name': 'H&S EXTRA VOLUME 750ML',
  'sales': Decimal('16515.700')},
 {'product_id': 644622,
  'name': 'Drajeuri Joyco Cu Alune 150G',
  'sales': Decimal('16266.467')},
 {'product_id': 649607,
  'name': 'Sort unicolor 50x70cm',
  'sales': Decimal('15777.848')},
 {'product_id': 432255,
  'name': 'DELICATO Iaurt d/baut afine/chia 1.5% 280g',
  'sales': Decimal('15334.450')},
 {'product_id': 662973,
  'name': 'TRIM Pensula p/apl.pudrei  SILK',
  'sales': Decimal('15299.630')},
 {'product_id': 520042,
  'name': 'NATURALIS Bautura Portocale 1l',
  'sales': Decimal('14261.600')},
 {'product_id': 417654, 'name': 'Zahar 1кg FL', 'sales': Decimal('14238.390')},
 {'product_id': 584960,
  'name': 'Biscuitii SAVOIARDI Antico Borgo 200g',
  'sales': Decimal('13973.800')},
 {'product_id': 653582,
  'name': 'PALETTE Vopsea p/par CI 12 BLOND GLACIAL',
  'sales': Decimal('13803.356')}]

In [13]:
def table_structure(table_name: str):
    session = Session()

    try:
        # Execute query
        sql = text(f"SELECT * FROM {table_name} LIMIT 5")
        result = session.execute(sql)
        columns = result.keys()
        records = [dict(zip(columns, row)) for row in result]
    finally:
        session.close()
    
    return records

In [14]:
table_structure('am_app_articlesales')

[{'id': 923370386,
  'article_id': 110962,
  'qte': Decimal('1.000'),
  'price': Decimal('88.500'),
  'type_of_sales': 0,
  'state': True,
  'date_of_sales': datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_created': 'AM SALES LOADER',
  'date_created': datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'article_stock_unit_id': 150750,
  'shop_id': 1661,
  'date_updated': datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_updated': 'AM SALES LOADER'},
 {'id': 929756110,
  'article_id': 108081,
  'qte': Decimal('1.000'),
  'price': Decimal('32.950'),
  'type_of_sales': 0,
  'state': True,
  'date_of_sales': datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_created': 'AM SALES LOADER',
  'date_created': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'article_stock_unit_id': 147769,
  'shop_id': 2268,
  'date_updated': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_updated': 'AM SALES LOADER'},
 {'id': 929756111,
  'article_id': 108493,
  'qte': Decimal('2.000'),
  'price': Decimal('8.950'),
  'type_of_sales': 0,
  'state': True,
  'date_of_sales': datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_created': 'AM SALES LOADER',
  'date_created': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'article_stock_unit_id': 148225,
  'shop_id': 2268,
  'date_updated': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_updated': 'AM SALES LOADER'},
 {'id': 929756112,
  'article_id': 385311,
  'qte': Decimal('2.000'),
  'price': Decimal('4.450'),
  'type_of_sales': 2,
  'state': True,
  'date_of_sales': datetime.datetime(2025, 2, 1, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_created': 'AM SALES LOADER',
  'date_created': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'article_stock_unit_id': 261310,
  'shop_id': 2268,
  'date_updated': datetime.datetime(2025, 2, 4, 7, 15, 1, 815722, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_updated': 'AM SALES LOADER'},
 {'id': 923370387,
  'article_id': 657394,
  'qte': Decimal('1.000'),
  'price': Decimal('21.900'),
  'type_of_sales': 2,
  'state': True,
  'date_of_sales': datetime.datetime(2025, 1, 27, 23, 50, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_created': 'AM SALES LOADER',
  'date_created': datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'article_stock_unit_id': 274571,
  'shop_id': 1661,
  'date_updated': datetime.datetime(2025, 1, 30, 7, 15, 2, 242372, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
  'user_updated': 'AM SALES LOADER'}]